<html>
    <head>
        <title>XML&JSON</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>XML - JSON</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('translate') }}" enctype="multipart/form-data">
                  <input type="file" name="jsonXML" accept="application/xml,aplication/json"/><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
